<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            <a routerLinkActive="active" class="list-group-item" [routerLink]="['/admin', 'functionality', 'toggle-register']">Регистрация вкл./изкл.</a>
            <a routerLinkActive="active" class="list-group-item" [routerLink]="['/admin', 'functionality', 'admin-status']">Смяна админ статус</a>
            <a routerLinkActive="active" class="list-group-item" [routerLink]="['/admin', 'functionality', 'worker-status']">Смяна работник статус</a>
        </div>
    </div>
    <div class="col-sm-10">
        <router-outlet></router-outlet>
    </div>
</div>
